--
-- PostgreSQL database dump
--

\restrict 6XgQJ5kdzhT5GJlJQlNYbRtEyKLnZQvxIp0JpZF4tXSwkrajy3fixLdEm9StH1A

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.tracking_links DROP CONSTRAINT IF EXISTS tracking_links_lead_id_fkey;
ALTER TABLE IF EXISTS ONLY public.tracking_links DROP CONSTRAINT IF EXISTS tracking_links_influencer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.outreach_history DROP CONSTRAINT IF EXISTS outreach_history_lead_id_fkey;
ALTER TABLE IF EXISTS ONLY public.outreach_history DROP CONSTRAINT IF EXISTS outreach_history_influencer_id_fkey;
DROP INDEX IF EXISTS public.ix_session_history_session_id;
ALTER TABLE IF EXISTS ONLY public.tracking_links DROP CONSTRAINT IF EXISTS tracking_links_pkey;
ALTER TABLE IF EXISTS ONLY public.tracking_links DROP CONSTRAINT IF EXISTS tracking_links_code_key;
ALTER TABLE IF EXISTS ONLY public.session_history DROP CONSTRAINT IF EXISTS session_history_pkey;
ALTER TABLE IF EXISTS ONLY public.outreach_history DROP CONSTRAINT IF EXISTS outreach_history_pkey;
ALTER TABLE IF EXISTS ONLY public.leads DROP CONSTRAINT IF EXISTS leads_pkey;
ALTER TABLE IF EXISTS ONLY public.leads DROP CONSTRAINT IF EXISTS leads_nit_key;
ALTER TABLE IF EXISTS ONLY public.influencers DROP CONSTRAINT IF EXISTS influencers_pkey;
ALTER TABLE IF EXISTS ONLY public.influencers DROP CONSTRAINT IF EXISTS influencers_creator_id_key;
ALTER TABLE IF EXISTS ONLY public.blacklist DROP CONSTRAINT IF EXISTS blacklist_pkey;
ALTER TABLE IF EXISTS ONLY public.blacklist DROP CONSTRAINT IF EXISTS blacklist_identifier_key;
ALTER TABLE IF EXISTS public.tracking_links ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.session_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.outreach_history ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.leads ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.influencers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.blacklist ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.tracking_links_id_seq;
DROP TABLE IF EXISTS public.tracking_links;
DROP SEQUENCE IF EXISTS public.session_history_id_seq;
DROP TABLE IF EXISTS public.session_history;
DROP SEQUENCE IF EXISTS public.outreach_history_id_seq;
DROP TABLE IF EXISTS public.outreach_history;
DROP SEQUENCE IF EXISTS public.leads_id_seq;
DROP TABLE IF EXISTS public.leads;
DROP SEQUENCE IF EXISTS public.influencers_id_seq;
DROP TABLE IF EXISTS public.influencers;
DROP SEQUENCE IF EXISTS public.blacklist_id_seq;
DROP TABLE IF EXISTS public.blacklist;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: blacklist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.blacklist (
    id integer NOT NULL,
    identifier character varying NOT NULL,
    type character varying,
    reason character varying,
    duration character varying,
    added_at timestamp without time zone,
    release_at timestamp without time zone
);


--
-- Name: blacklist_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.blacklist_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: blacklist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.blacklist_id_seq OWNED BY public.blacklist.id;


--
-- Name: influencers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.influencers (
    id integer NOT NULL,
    creator_id character varying,
    platform character varying,
    username character varying,
    display_name character varying,
    followers integer,
    engagement_rate double precision,
    comment_quality_score double precision,
    authority_score integer,
    status character varying,
    tipo_tenant character varying,
    feed_rate double precision,
    plan_tier character varying,
    priority character varying,
    email character varying,
    verdict character varying,
    created_at timestamp without time zone
);


--
-- Name: influencers_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.influencers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: influencers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.influencers_id_seq OWNED BY public.influencers.id;


--
-- Name: leads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.leads (
    id integer NOT NULL,
    nit character varying NOT NULL,
    company_name character varying,
    legal_representative character varying,
    email character varying,
    email_validated boolean,
    phone character varying,
    phone_validated boolean,
    linkedin_url character varying,
    sector character varying,
    status character varying,
    tipo_tenant character varying,
    feed_rate double precision,
    plan_tier character varying,
    priority character varying,
    pain_point text,
    recommended_angle text,
    last_contact_date timestamp without time zone,
    created_at timestamp without time zone
);


--
-- Name: leads_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.leads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: leads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.leads_id_seq OWNED BY public.leads.id;


--
-- Name: outreach_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.outreach_history (
    id integer NOT NULL,
    lead_id integer,
    influencer_id integer,
    channel character varying,
    message text,
    status character varying,
    "timestamp" timestamp without time zone
);


--
-- Name: outreach_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.outreach_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: outreach_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.outreach_history_id_seq OWNED BY public.outreach_history.id;


--
-- Name: session_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.session_history (
    id integer NOT NULL,
    session_id character varying,
    role character varying,
    content text,
    tool_call_id character varying,
    name character varying,
    "timestamp" timestamp without time zone
);


--
-- Name: session_history_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.session_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: session_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.session_history_id_seq OWNED BY public.session_history.id;


--
-- Name: tracking_links; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tracking_links (
    id integer NOT NULL,
    code character varying NOT NULL,
    target_url character varying NOT NULL,
    influencer_id integer,
    lead_id integer,
    clicks integer,
    created_at timestamp without time zone
);


--
-- Name: tracking_links_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.tracking_links_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: tracking_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.tracking_links_id_seq OWNED BY public.tracking_links.id;


--
-- Name: blacklist id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blacklist ALTER COLUMN id SET DEFAULT nextval('public.blacklist_id_seq'::regclass);


--
-- Name: influencers id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.influencers ALTER COLUMN id SET DEFAULT nextval('public.influencers_id_seq'::regclass);


--
-- Name: leads id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leads ALTER COLUMN id SET DEFAULT nextval('public.leads_id_seq'::regclass);


--
-- Name: outreach_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.outreach_history ALTER COLUMN id SET DEFAULT nextval('public.outreach_history_id_seq'::regclass);


--
-- Name: session_history id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session_history ALTER COLUMN id SET DEFAULT nextval('public.session_history_id_seq'::regclass);


--
-- Name: tracking_links id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tracking_links ALTER COLUMN id SET DEFAULT nextval('public.tracking_links_id_seq'::regclass);


--
-- Data for Name: blacklist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.blacklist (id, identifier, type, reason, duration, added_at, release_at) FROM stdin;
1	spam@evil.com	email	Constant spam	permanent	2026-04-16 14:15:46.404885	\N
2	+573999999999	phone	Test blocking	permanent	2026-04-16 14:16:03.846581	\N
\.


--
-- Data for Name: influencers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.influencers (id, creator_id, platform, username, display_name, followers, engagement_rate, comment_quality_score, authority_score, status, tipo_tenant, feed_rate, plan_tier, priority, email, verdict, created_at) FROM stdin;
1	TK_TAX_001	TikTok	@tax_expert_co	Expert Tax CO	25000	4.2	\N	0	new	promotor	0	seed	HIGH	\N	Vale la pena contactar	2026-04-16 14:15:46.408979
\.


--
-- Data for Name: leads; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: outreach_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.outreach_history (id, lead_id, influencer_id, channel, message, status, "timestamp") FROM stdin;
\.


--
-- Data for Name: session_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.session_history (id, session_id, role, content, tool_call_id, name, "timestamp") FROM stdin;
\.


--
-- Data for Name: tracking_links; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tracking_links (id, code, target_url, influencer_id, lead_id, clicks, created_at) FROM stdin;
\.


--
-- Name: blacklist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.blacklist_id_seq', 2, true);


--
-- Name: influencers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.influencers_id_seq', 1, true);


--
-- Name: leads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.leads_id_seq', 375, true);


--
-- Name: outreach_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.outreach_history_id_seq', 1, false);


--
-- Name: session_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.session_history_id_seq', 1, false);


--
-- Name: tracking_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.tracking_links_id_seq', 1, false);


--
-- Name: blacklist blacklist_identifier_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blacklist
    ADD CONSTRAINT blacklist_identifier_key UNIQUE (identifier);


--
-- Name: blacklist blacklist_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blacklist
    ADD CONSTRAINT blacklist_pkey PRIMARY KEY (id);


--
-- Name: influencers influencers_creator_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.influencers
    ADD CONSTRAINT influencers_creator_id_key UNIQUE (creator_id);


--
-- Name: influencers influencers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.influencers
    ADD CONSTRAINT influencers_pkey PRIMARY KEY (id);


--
-- Name: leads leads_nit_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_nit_key UNIQUE (nit);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: outreach_history outreach_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.outreach_history
    ADD CONSTRAINT outreach_history_pkey PRIMARY KEY (id);


--
-- Name: session_history session_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session_history
    ADD CONSTRAINT session_history_pkey PRIMARY KEY (id);


--
-- Name: tracking_links tracking_links_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tracking_links
    ADD CONSTRAINT tracking_links_code_key UNIQUE (code);


--
-- Name: tracking_links tracking_links_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tracking_links
    ADD CONSTRAINT tracking_links_pkey PRIMARY KEY (id);


--
-- Name: ix_session_history_session_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_session_history_session_id ON public.session_history USING btree (session_id);


--
-- Name: outreach_history outreach_history_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.outreach_history
    ADD CONSTRAINT outreach_history_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id);


--
-- Name: outreach_history outreach_history_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.outreach_history
    ADD CONSTRAINT outreach_history_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id);


--
-- Name: tracking_links tracking_links_influencer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tracking_links
    ADD CONSTRAINT tracking_links_influencer_id_fkey FOREIGN KEY (influencer_id) REFERENCES public.influencers(id);


--
-- Name: tracking_links tracking_links_lead_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tracking_links
    ADD CONSTRAINT tracking_links_lead_id_fkey FOREIGN KEY (lead_id) REFERENCES public.leads(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6XgQJ5kdzhT5GJlJQlNYbRtEyKLnZQvxIp0JpZF4tXSwkrajy3fixLdEm9StH1A

